.form-section {
    width:40%;
    display:block;
    margin:auto;
    border: solid 1px #e1e1e1;
    padding:25px;
    margin:2.5%;
    float:left;
}

.form-group {
    margin-bottom:10px;
}

input {
    height:20px;
    padding:3px;
    border-radius:3px;
    border: solid 1px #3c3c3c;
}